.user-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__avator {
  width: 80px;
  height: 80px;
  border: 0.4px solid var(--blue);
  border-radius: 30%;
}
.user-component__text {
  margin-left: 15px;
}
.user-component__title {
  font-weight: 600;
  font-size: 17px;
}
.user-component__subtitle {
  margin-top: 10px;
  font-size: 13px;
  opacity: 0.6;
}
.user-component__avator--xl {
  width: 90px;
  height: 90px;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__avator--sm {
  width: 70px;
  height: 70px;
}

.user-component__title--not-bold {
  font-weight: 500;
}

.user-component__time {
  display: block;
  margin-bottom: 4px;
}
